body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
}

.content {
    height: 2500px;
    background: linear-gradient(180deg, #f0f0f0, #c0c0c0);
}

#toTopBtn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: blue;
    color: cyan;
    border: none;
    outline: none;
    padding: 15px;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s, transform 0.3s;
    display: none;
}

#toTopBtn:hover {
    opacity: 1;
    transform: scale(1.1);
}